@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Poppins";
  color: #fdfdfd;
}
header .container {
  /* max-width: 1400px; */
  margin: 0 auto;
  /* height: 150px; */
  /* padding: 20px 20px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #fdfdfd;
  text-decoration: none;
}
.pages {
  max-width: 1920px;
  /* height: 100px; */
}

.BgHome {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 575px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bigtitle {
  text-align: center;
  font-size: 50px;
  margin-bottom: 50px;
  margin-top: 200px;
}
.intro {
  /* margin-bottom: 30px; */
}
.contactezNousBtt,
.commencerBtt,
.overlay__btn {
  box-shadow: 3px 4px 0px 0px #899599;
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid #f0f0f0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e1e2ed;
}
.contactezNousBtt {
  margin-right: 40px;
}
.commencerBtt {
  font-size: 30px;
  margin-bottom: 100px;
}
.overlay__btn{
  color: #010101;
  margin-left: 200px;
}
.contactezNousBtt:hover,
.commencerBtt:hover,
.overlay__btn:hover  {
  background-color: transparent;
  transform: scale(1.05);
  cursor: pointer;
}
.contactezNousBtt:active,
.commencerBtt:active,
.overlay__btn:active  {
  position: relative;
  top: 1px;
}
.logoMl,
.logo {
  margin-top: 15px;
  height: 200px;
  width: 200px;
}
/* selected ads */
.course {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  max-width: 100%;
  margin: 20px;
  width: 700px;
  transition: 0.4s ease all;
  overflow: hidden;
}

.course:hover {
  transform: scale(0.995);
}

.course h6 {
  opacity: 0.6;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.course h2 {
  letter-spacing: 1px;
  margin: 10px 0;
}

.course-preview {
  background-color: #2a265f;
  color: #fff;
  padding: 30px;
  width: 250px;
  height: 160px;
}

.course-preview a {
  color: #fff;
  display: inline-block;
  font-size: 12px;
  opacity: 0.6;
  margin-top: 30px;
  text-decoration: none;
}

.course-info {
  padding: 30px;
  position: relative;
  width: 100%;
  color: #5a5e6b;
}

.job-details {
  display: inline-block;
  width: 50%;
  /* Ajoutez d'autres styles selon vos besoins */
 
}
.progress-container {
  position: absolute;
  top: 30px;
  right: 30px;
  text-align: right;
  width: 150px;
}

.progress {
  background-color: #ddd;
  border-radius: 3px;
  height: 5px;
  width: 100%;
}

.progress::after {
  border-radius: 3px;
  background-color: #2a265f;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 66%;
}

.progress-2 {
  background-color: #ddd;
  border-radius: 3px;
  height: 5px;
  width: 100%;
}

.progress-2::after {
  border-radius: 3px;
  background-color: #2a265f;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 20%;
}

.progress-text {
  font-size: 10px;
  opacity: 0.6;
  letter-spacing: 1px;
}

.btn {
  background-color: #2a265f;
  border: 0;
  border-radius: 50px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 16px;
  padding: 12px 25px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  letter-spacing: 1px;
  transition: 0.3s ease all;
}

.btn:hover {
  border-radius: 2px;
  transform: scale(1.1);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.35);
}

.btn:active {
  border-radius: 2px;
  transform: scale(1.05);
}

.btn:focus {
  outline: none;
}

.details {
  position: absolute;
  background: #fff;
  top: 199px;
  left: -230px;
  padding: 20px 30px;
  width: 700px;
  border-radius: 10px;
}
.selectedAd {
  width: 1000px;
  height: 600px;
  background:rgba(0, 0, 0, 0.5) ;
  display: flex;
  justify-content: center;
}

.orb-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

strong {
  font-weight: 600;
}

.overlay {
  width: 100%;
  max-width: 1140px;
  max-height: 640px;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.375);
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.overlay__inner {
  max-width: 36rem;
  margin-left: 300px;
  color: #010101;

}

.overlay__title {
  font-size: 1.875rem;
  line-height: 2.75rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  margin-bottom: 2rem;
  /* margin-left: 150px; */
}

.text-gradient {
  background-image: linear-gradient(
    45deg,
    var(--base) 25%,
    var(--complimentary2)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.overlay__description {
  font-size: 1rem;
  line-height: 1.75rem;
  margin-bottom: 3rem;
}

/* .overlay__btns {
  width: 100%;
  max-width: 30rem;
  display: flex;
} */

/* .overlay__btn {
  width: 50%;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--light-color);
  background: var(--dark-color);
  border: none;
  border-radius: 0.5rem;
  transition: transform 150ms ease;
  outline-color: hsl(var(--hue), 95%, 50%);
} */
/* .overlay__btn--transparent {
  background: transparent;
  color: var(--dark-color);
  border: 2px solid var(--dark-color);
  border-width: 2px;
  margin-right: 0.75rem;
} */

.overlay__btn-emoji {
  margin-left: 0.375rem;
}

a {
  text-decoration: none;
  color: var(--dark-color);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Ads {
  margin-left: 170px;
}

/* Not too many browser support this yet but it's good to add! */
@media (prefers-contrast: high) {
  .orb-canvas {
    display: none;
  }
}

@media only screen and (max-width: 1140px) {
  .overlay {
    padding: 8rem 4rem;
  }
}

@media only screen and (max-width: 840px) {
  body {
    padding: 1.5rem;
  }

  .overlay {
    padding: 4rem;
    height: auto;
  }

  .overlay__title {
    font-size: 1.25rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
  }

  .overlay__description {
    font-size: 0.875rem;
    line-height: 1.5rem;
    margin-bottom: 2.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .overlay {
    padding: 1.5rem;
  }
  .overlay__btn {
    width: 100%;
    font-size: 0.75rem;
    margin-right: 0;
  }

  .overlay__btn:first-child {
    margin-bottom: 1rem;
  }
}
 /* Login page */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  --darkBlue: rgb(59, 52, 163);
  --blue: rgb(82, 72, 224);
  --grey: #ccc;
  --white: #fff;
}

/* body {
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
  color: #777;
  font-weight: 400;
  padding: 1rem;
  background: linear-gradient(
    145deg,
    var(--white) 40%,
    var(--blue) 45%,
    var(--white) 45%
  );
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.box1,
.box2 {
  max-width: 40rem;
  width: 100%;
  height: 900px;
  position: relative;
  background-color: transparent;
  height: 60rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
  margin-left: 550px;
}
.box2{
  width: 400px;
}
.forms {
  padding: 2rem;
  background-color: var(--white);
  border-radius: 15px;
  perspective: 200rem;
  max-height: 535px;
  height: 100%;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  position: absolute;
  backface-visibility: hidden;
  transition: all 4s;
}
.forms h2 {
  margin-bottom: 1.4rem;
  font-weight: 700;
  font-size: 2.6rem;
  letter-spacing: 1.5px;
  color: #333;
  position: relative;
}
.forms h2::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 2%;
  width: calc(10%);
  height: 5px;
  /* width: 100%; */
  /* transform: translateX(-50%); */
  background-color: var(--blue);
  transition: all 0.5s;
}
.forms:hover h2::before {
  background-color: var(--blue);
  width: 20%;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.8rem;
}

.log__box {
  position: relative;
  height: 5rem;
  width: 100%;
}
.input-style {
  width: 100%;
  border: none;
  outline: none;
  height: 100%;
  padding: 0 3rem;
  font-size: 1.2rem;
  color: var(--grey);
  border-bottom: 2px solid var(--grey);
  /* position: absolute; */
  transition: all 0.3s;
}
form .i {
  font-size: 2.2rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: var(--grey);
}
form .eye {
  font-size: 2.2rem;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  color: var(--grey);
  padding: 1rem;
  cursor: pointer;
}
.log__box input:is(:focus, :valid) {
  border-bottom-color: var(--blue);
  font-size: 1.6rem;
  color: #777;
}

.log__box input:is(:focus, :valid) ~ .i {
  color: var(--blue);
}
.log__remember label {
  font-size: 1.2rem;
}
.log__remember {
  margin-top: -1rem;
  height: fit-content;
}
form button {
  width: 100%;
  height: 5rem;
  border-radius: 10px;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  font-weight: 700;
  letter-spacing: 1.5px;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.5rem);
  transition: all 0.3s;
}
.form__text {
  font-size: 10px;
  display: flex;
  gap: 0.5rem;
  color: #010101;
}
.form__text a {
  text-decoration: none;
  color: var(--blue);
}
input {
  border: none;
  outline: none;
}

.form__signUp {
  transform: rotateY(-180deg);
}

.form__login form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}

input:invalid {
  color: red;
}
input:invalid:focus {
  border-bottom: 2px solid red;
}
small {
  font-size: 1rem !important;
  position: absolute;
  bottom: -40%;
  width: 100%;
  left: 0;
  opacity: 0;
}
.error {
  opacity: 1 !important;
  color: red;
}
button:active {
  background-color: var(--darkBlue);
  transform: translateY(-0.2rem);
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}
input {
  font-family: "Poppins", sans-serif;
}
input[type="checkbox"] {
  accent-color: var(--blue);

}
input[type="checkbox"]:checked {
  outline: 3px solid var(--blue);
  outline-offset: 1px;
}
input::placeholder{
  font-weight: bold;
  opacity: 0.5;
  color: rgb(3, 2, 2);
}
/* .form__signUp.flipped {
  transform: rotateY('180deg');
} */
